Package: rdfpatch-stream-cli
Version: [[version]]
Section: cli
Priority: optional
Architecture: all
Depends: java-runtime-headless
Maintainer: Claus Stadler <cstadler@informatik.uni-leipzig.de>
Description: RDFPatch Stream Command Line Interfaces
Distribution: ldstack-nightly
Homepage: https://github.com/Scaseco/jena-rdfpatch-stream
Vcs-Git: git@github.com:Scaseco/jena-rdfpatch-stream.git
Vcs-Browser: https://github.com/Scaseco/jena-rdfpatch-stream

